.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 990px;
  margin-right: 400px;
  justify-content: space-between;
  margin-top: 20px;
}

/* opção 1

 fazer retangulo verde no div para compensar

 opção 2

 fazer green background dentro da nav lol...*/

/* .button-1 {
background: inherit;
border-radius: 16px;
border-style: none;
margin-top: 15px;
} */

/* .button-1:hover {
background:#525252;
border-radius: 16px;
margin-top: 15px;
} */

/* .button-2:hover {
background:#525252;
border-radius: 16px;
}

.button-3:hover {
background:#525252;
border-radius: 16px;
} */
