/* Mobile */
header {
  display: none;
  padding: 32px;
}

header img {
  height: 100px;
}

.hero {
  display: flex;
  height: calc(100vh + 60px);
}

.hero > .hero-1 {
  display: none;
  flex: 2;
}

.hero > .hero-3 {
  display: none;
  flex: 1;
}

.hero > .hero-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.hero > .hero-2 > nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.hero > .hero-2 > nav > ul button {
  margin: 0 8px;
  padding: 4px 20px;
  font-size: 12px;
  color: rgba(70, 70, 70, 0.5);
  border: none;
  border-radius: 16px;
  background-color: rgba(45, 122, 44, 0);
}
.hero > .hero-2 > nav > ul button:hover {
  margin: 0 8px;
  padding: 4px 20px;
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 16px;
  background-color: #525252;
}

.hero > .hero-2 > img {
  max-width: unset;
  width: 300px;
  margin-top: 30px;
  margin-bottom: -24px;
  filter: drop-shadow(0px 6px 6px rgba(70, 70, 70, 0.5));
}

.hero > .hero-2 > p {
  max-width: 400px;
  padding: 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.22em;
  color: #333333;
  text-align: center;
}

.services {
  padding: 0 50px;
}

.services > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

/* Title */
.services > div > .service-text > div {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

/* Description */
.services > div > .service-text > p {
  margin-bottom: 16px;
  font-size: 14px;
}

.services > div > .service-img > img {
  border-radius: 34px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.35));
}

/* Footer */

/* Tablet */
@media (min-width: 480px) {
  .hero > .hero-2 > img {
    width: 500px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  header,
  .hero > .hero-1,
  .hero > .hero-3 {
    display: block;
  }

  .hero {
    position: relative;
    top: -164px;
    height: 800px;
    max-width: 1200px;
    margin: auto;
  }

  .hero > .hero-2 {
    width: 650px;
    padding: 60px;
    background-color: rgba(45, 122, 44, 0.3);
  }

  .hero > .hero-2 > nav > ul button {
    padding: 4px 16px 4px 40px;
    font-size: 14px;
    z-index: 4;
    position: relative;
  }

  .hero > .hero-2 > img {
    width: 900px;
    margin-left: -392px;
    margin-top: -60px;
    margin-bottom: -150px;
  }

  .hero > .hero-2 > p {
    padding: 0;
    text-align: left;
  }

  .services {
    max-width: 1200px;
    margin: auto;
  }

  .services > div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .services > div:nth-child(even) {
    flex-direction: row-reverse;
  }

  .services > div > .service-img,
  .services > div > .service-text {
    flex: 1;
  }

  .services > div > .service-img {
    text-align: center;
  }

  .services > div > .service-img > img {
    width: 300px;
  }
  button:focus {
    outline: 0;
  }
}
