@media only screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }

  .nav-items {
    font-size: 14px;
    margin-left: 30px;
  }

  .logo-background {
    width: 18rem;
    padding-top: 180px;
    /* left: 32.4%; */
    right: 90px;
    top: -270px;
  }

  /* GRID CONTAINER */
  .container {
    transform: translate(0, -78%);
    max-height: 100rem;
  }

  /* GRID 1 */
  /*---------- texto 1*/
  .text-left-1 {
    margin-bottom: 5rem;
    width: 80%;
    margin-left: 10%;
  }
  .text-left-1 > h4 {
    font-size: 16px;
  }
  .text-left-1 > p {
    font-size: 12px;
  }
  /*---------- img 1 */
  .img-mobile-1 {
    margin-left: 15%;
  }

  /* GRID 2 */
  /*---------- texto 2 */
  .text-mobile-2 {
    transform: translateY(-25rem);
    display: inline-block;
    margin-left: 10%;
    width: 80%;
  }
  .text-mobile-2 > h4 {
    font-size: 16px;
  }
  .text-mobile-2 > p {
    font-size: 12px;
  }
  /*---------- img 2 */
  .img-mobile-2 {
    transform: translate(0%, 13rem);
    width: 90%;
    height: 90%;
    margin-left: 1rem;
  }

  /* GRID 3 */
  /*---------- text 3 */
  .text-mobile-3 {
    transform: translateY(-7rem);
  }

  /*---------- img 3 */
  .img-mobile-3 {
    margin-left: 15%;
  }

  /* GRID 4 */
  /*---------- text 4 */
  .text-mobile-4 {
    transform: translateY(-51rem);
    margin-left: 10%;
    width: 80%;
  }
  .text-mobile-4 > h4 {
    font-size: 16px;
  }
  .text-mobile-4 > p {
    font-size: 12px;
  }
  /*---------- img 4 */
  .img-mobile-4 {
    transform: translateY(6rem);
    width: 90%;
    height: 90%;
    margin-left: 1rem;
  }
  .footer {
    max-height: 500px;
    margin-top: -10rem;
  }
}
